<ion-header>
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-item>
    <ion-input placeholder="search" (input)="onUpdateServerName($event)"></ion-input>
    <ion-button color="primary"(click)='goSearch()'>Go</ion-button>
  </ion-item>

  <ion-card *ngFor='let article of data?.articles' style="margin-top: 10px;">
    <ion-img [src]='article.urlToImage'></ion-img>
    <ion-card-header>
      <ion-card-subtitle>by: {{ article.author }}</ion-card-subtitle>
      <ion-card-title> {{ article.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ article.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
